@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;700&display=swap");
//Colors
$primary-bg: #181719;
$primary-font: #ffffff;
$footer-font: #a9a9a9;

//Font-Family
$Crimson: "Crimson Pro", serif;
$Lora: "Lora", serif;
$Montserrat: "Montserrat", sans-serif;
